.filter {
    margin: 30px auto;
    display: flex;
    border-radius: 8px;
    height: 50px;
    width: 90%;
    line-height: 50px;
    text-align: center;
    overflow: hidden;
    border: 1px solid rgb(235, 236, 240);
}
.filter p {
    background-color: rgb(235, 236, 240);
    margin: 0;
    width: 10%;
}
.filter input {
    width: 90%;
    border-style: none;
    padding-left: 10px;
}
